<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>{% block title %}ShareXP{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
      <style type="text/css">
        body {
          background-color: #3498DB;
          margin: 0;
          color: #ffffff;
          font-family: Arial, Verdana, sans-serif;
        }

        #content {
          width: 1000px;
          min-height: 800px;
          margin-top: 100px;
          margin-left: auto;
          margin-right: auto;
        }

        #logo {
          width: 400px;
          margin-bottom: 30px;
        }

        p {
          text-align: justify;
        }

        .print {
          margin: 30px;
          padding: 5px;
        background-color: #f8f8f8;
  
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.86);
        -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.86);
        box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.86);

        -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;

        width: 300px;
        }

        .display-print {
          width: 400px;
          height: 700px;
          float: left;
          margin: 20px;
        }

        .space {
          width: 120px;
          height: 700px;
          float: left;
        }

        #footer {
          width: 1000px;
          height: 50px;
          margin-left: auto;
          margin-right: auto;
        }

        #footer p {
          text-align: center;
        }

        a {
          color: #ffffff;
        }

      </style>
  </head>
  <body>
    {% block content %}
      <!-- PAGE CONTENT HERE -->
      <div id="content">
      <center> <a href="#"> <img src="/images/logo.png" id="logo"/> </a> </center>

      <!-- <a href="" target="_blank">
      <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top"> -->
      
      <p>ShareXP is an <a href="http://www.android.com/" target="_blank">Android</a> application developed by <a href="mailto:vdat1g13@soton.ac.uk" target="_top">V&iacute;tor de Albuquerque Torre&atilde;o</a>,  <a href="mailto:mgsb1g13@soton.ac.uk" target="_top">Matheus Giovanni Soares Beleboni</a> and <a href="mailto:lccn1g13@soton.ac.uk" target="_top">Luiz Carlos Ciafrino Neto</a> under the supervision of Dr. Andy Gravell at the <a href="http://www.southampton.ac.uk/" target="_blank">University of Southampton</a> as a part of the <a href="http://sciencewithoutborders.international.ac.uk/" target="_blank">Science Without Borders programme</a>.</p>

      <p>ShareXP allows users from all over the world to share sales from their local supermarkets and, thus, allowing the community to save money together. It uses many APIs, namely:
        <ul>
          <li><a href="https://developers.facebook.com/docs/android" target="_blank">Facebook Android API</a></li>
          <li><a href="https://developers.facebook.com/docs/graph-api" target="_blank">Facebook Graph API</a></li>
          <li><a href="https://developers.google.com/maps/documentation/android/" target="_blank">Google Maps Android API</a></li>
          <li><a href="https://developers.google.com/places/documentation/" target="_blank">Google Places API</a></li>
          <li><a href="https://developers.google.com/maps/documentation/geocoding/" target="_blank">Google Geocoding API</a></li>
        </ul>
      </p>

      <p>Besides the Android App, there is a <a href="https://developers.google.com/appengine/" target="_blank">Google App Engine</a> server supporting ShareXP. Both the App and Server use many libraries, including, but not limited to:
        <ul>
          <li><a href="https://webapp-improved.appspot.com/" target="_blank">Webapp2</a></li>
          <li><a href="http://jinja.pocoo.org/docs/dev/" target="_blank">Jinja2</a></li>
          <li><a href="http://webob.org/" target="_blank">WebOb</a></li>
          <li><a href="https://github.com/telly/FloatingAction" target="_blank">Floating Action</a></li>
          <li><a href="https://github.com/chrisbanes/ActionBar-PullToRefresh" target="_blank">Action Bar Pull to Refresh</a></li>
          <li><a href="http://square.github.io/picasso/" target="_blank">Picasso</a></li>
          <li><a href="https://github.com/koush/ion" target="_blank">Ion</a></li>
          <li><a href="https://github.com/flavienlaurent/datetimepicker" target="_blank">DateTimePicker</a></li>
        </ul>
      </p>

      <p>ShareXP is supported on Android phones and tablets running AndroidOS version 4.0 or above.</p>

      <div class="display-print">
        <img src="/images/access.jpg" class="print"/> 
        <p>This is the "log in" screen of ShareXP. Here, the users may choose to log in using their Facebook account or ShareXP account.</p>
      </div>
      
      <div class="space">
      </div>

      <div class="display-print">
        <img src="/images/home.jpg" class="print"/> 
        <p>This is the main screen of ShareXP. Logged in users are automatically redirected here. This screen provides users with a list of sales that are closest to them. This list is ordered by distance. The user's position is obtained through the phone or tablet's GPS. (The sales shown on this picture are not real. They are there just for demonstration purposes).</p>
      </div>

      <div class="display-print">
        <img src="/images/search.jpg" class="print"/> 
        <p>ShareXP allows users to search for Sales based on some input query. The system will respond with sales containing a product that match the query.</p>
      </div>

      <div class="space">
      </div>

      <div class="display-print">
        <img src="/images/saleDetails.jpg" class="print"/> 
        <p>Upon clicking any item on the Sales list, users can see details about each one, including an interactive map showing the market where they can find that sale. Users can contribute to the community by liking relevant sales and reporting invalid sales.</p>
      </div>

      <div class="display-print">
        <img src="/images/preview.jpg" class="print"/> 
        <p>Users can also click on product's pictures to view them in more detail.</p>
      </div>

      <div class="space">
      </div>

      <div class="display-print">
        <img src="/images/createSale.jpg" class="print"/> 
        <p>Users are encouraged to create and share Sales with the ShareXP community. In order to that, they must provide some details about the sale, such as, product name, original price, discount, merchant name and city. Once created, a Sale is automatically added to the Sales list of people who are in the area.</p>
      </div>

    </div>

    <div id="footer">
      <p> &copy; 2014 V&iacute;tor de Albuquerque Torre&atilde;o,  Matheus Giovanni Soares Beleboni, Luiz Carlos Ciafrino Neto.</p>
    </div>
      <!-- END OF PAGE CONTENT -->
    {% endblock %}
  </body>
</html>
{% endautoescape %}