{% extends "base_template.html" %}
{% block title %}
  ShareXP - Log In
{% endblock title %}
{% block content %}
  <form action="/login" method="get">
    Username: <input type="text" name="username" size="15" /><br />
    Password: <input type="password" name="password" size="15" /><br />
    <input type="submit" value="Log In" />
  </form>
{% endblock content %}
