{% extends "base_template.html" %}
{% block title %}
  ShareXP - New Sales Trigger
{% endblock title %}
{% block content %}
  <form action="/new_sales_trigger" method="post">
    <h1>Select Product</h1>
    {% if products %}
        <h2>From already registered products</h2>
        Product:<br />
        <select name="product">
            <option value="other_product">Other</option>
            {% for product in products %}
                <option value="{{product.key.id()}}">{{product.name}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <h2>Register a new product</h2>
    Name:<br />
    <input type="text" name="product_name" size="15" /><br />
    <h1>Select maximum distance:</h1>
    <input type="text" name="max_dist" size="15" /> km<br /><br/>
    <input type="submit" value="Create Sales Trigger" />
  </form>
{% endblock content %}