{% extends "base_template.html" %}
{% block title %}
  ShareXP - New Sale
{% endblock title %}
{% block content %}
  <form action="{{upload_url}}" method="post" enctype="multipart/form-data">
    <h1>Select Merchant</h1>
    {% if merchants %}
        <h2>From already registered merchants</h2>
        Merchant:<br />
        <select name="merchant">
            <option value="other_merchant">Other</option>
            {% for merchant in merchants %}
                <option value="{{merchant.key.id()}}">{{merchant.name}}, {{merchant.location}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <h2>Register a new merchant:</h2>
    Name:<br />
    <input type="text" name="merchant_name" size="15" /><br />
    Location:<br />
    <input type="text" name="merchant_location" size="15" /><br />
    <h1>Select Product</h1>
    {% if products %}
        <h2>From already registered products</h2>
        Product:<br />
        <select name="product">
            <option value="other_product">Other</option>
            {% for product in products %}
                <option value="{{product.key.id()}}">{{product.name}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <h2>Register a new product</h2>
    Name:<br />
    <input type="text" name="product_name" size="15" /><br />
    Picture:<br />
    <input type="file" name="file"><br />
    <h1>Enter sale info</h1>
    End_date:<br />
    <input type="text" name="end_date" size="15" /><br />
    Original Price:<br />
    <input type="text" name="product_price" size="15" /><br />
    Discount:<br />
    <input type="text" name="discount" size="15" /><br />
    Hashtags:<br />
    <input type="text" name="hashtags" size="15" /><br />
    <br />
    <input type="submit" value="Create Sale" />
  </form>
{% endblock content %}