{% extends "base_template.html" %}
{% block title %}
  ShareXP - Register
{% endblock title %}
{% block content %}
  <form action="/register" method="get">
    First Name:<br />
    <input type="text" name="first_name" size="15" /><br />
    Last Name:<br />
    <input type="text" name="last_name" size="15" /><br />
    E-mail:<br />
    <input type="text" name="email" size="15" /><br />
    <br />
    Password:<br />
    <input type="password" name="password" size="15" /><br />
    Password Confirmation:<br />
    <input type="password" name="password_conf" size="15" /><br />
    <br />
    Location:<br />
    <input type="text" name="location" size="15" /><br />
    <br />
    <input type="submit" value="Register" />
  </form>
{% endblock content %}
